<div class="body">
    <mat-tab-group color="accent">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">video_library</mat-icon>
                MRT Library
            </ng-template>

            <app-mrt-library></app-mrt-library>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">schedule_send</mat-icon>
                Manual Replay
            </ng-template>

            <app-manual-replay></app-manual-replay>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">history</mat-icon>
                Anomaly Explorer
            </ng-template>

            <app-anomaly-explorer></app-anomaly-explorer>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">cruelty_free</mat-icon>
                RabbitMQ
            </ng-template>

            <app-rabbitmq></app-rabbitmq>
        </mat-tab>
    </mat-tab-group>
</div>